<!DOCTYPE html>
<html>
<head>
	<title>Lab - Multimedia Programming 2563 ITKMITL</title>
	<link rel=stylesheet href="../src/reset.css">
	<link rel=stylesheet href="lab.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body class="paper" background="https://di.lnwfile.com/0poupk.jpg">
	<div id="app" align="center">
		<h1><font color="#0066FF">ตารางสูตรคูณ</font></h1><br>
		<b><i>สูตรคูณแม่&emsp;</i></b><input type="number" v-model="n"><br><br>
		<b><i>จำนวนแถว&emsp;</i></b><input type="number" v-model="row">
		<div class="space"></div><hr>
		<h2><font color="#FFFF66"><u>สูตรคูณแม่ {{n}}</u></font></h2>
		<h3
		v-for="i in r"
		><br>{{n}} x {{i}} = <font color="red">{{multiply(i)}}</font></h3><hr>
		<h3><font color="#FFFF66"><u>ผลรวมทั้งหมด</u></font></h3>
		<h2><font color="red">{{sum()}}</font></h2><hr>
	</div>

	<script>
		let app = new Vue({
			el: '#app',
			data: {
				n: 2,
				row:9
			},
			methods:{
				multiply: function(row){
					return this.n*row
				},
				sum: function(){
					return parseInt(this.n)*((parseInt(this.row)*(parseInt(this.row)+1))/2)
				}
			},
			computed:{
				r: function(){
					return parseInt(this.row)
				}
			},
		})
	</script>
</body>
</html>